label {
    display: inline-block;
    width: 100px;
    text-align: right;
    }


input {
    display: inline-block;
    width: 80px;
    text-align: right;
    }

.graph-grid {
    height: 500px;
    /* display: flex; */
    align-items: center;
    /* border: 2px solid black; */
    }

.show-border {
    border: 2px solid black;
}

.centered {
    text-align: center;
    /* display: inline-block;  */
  }