header h1 a {
    color: red;
    }

label {
    display: inline-block;
    width: 100px;
    text-align: right;
    }


input {
    display: inline-block;
    width: 80px;
    text-align: right;
    }