{% extends "base.html" %}
{% load static %}
{% block content %}
    <h1>Homepage</h1>

    <form id="data-form">
        {% csrf_token %}
        <input type="number" hx-post="{% url 'generate_chart' %}" hx-trigger="change" hx-target="#chart-container" name="number1" id="number1" placeholder="Enter number 1">
        <input type="number" hx-post="{% url 'generate_chart' %}" hx-trigger="change" hx-target="#chart-container" name="number2" id="number2" placeholder="Enter number 2">
        <input type="number" hx-post="{% url 'generate_chart' %}" hx-trigger="change" hx-target="#chart-container" name="number3" id="number3" placeholder="Enter number 3">
        {% comment %} <button type="button" hx-post="{% url 'generate_chart' %}" hx-trigger="click" hx-target="#chart-container">Generate Chart</button> {% endcomment %}
    </form>
    <div id="chart-container"></div>

    <script src="{% static 'js/initial.js' %}"></script>
{% endblock content %}
</html>